private/
auto-save-list/*
elpa/*
eshell/*
test.el
.lsp-session-v1
init.el
init.el.bak
request/*
elpa/*
meghanada/*
games/*
racket-mode/*
eshell/*
notes
bookmarks
recentf
projects
notes
tramp
transient/
